// Fail downsampling for partition 186538 and ignore it, as production does once retries run out
includeConfig "downstream.config"

process {
    withName: '.*:DOWNSAMPLE_TSV_BY_HASH' {
        beforeScript = 'if grep -q "^### - .downsampled_partition_186538_" .command.run; then exit 1; fi'
        errorStrategy = 'ignore'
    }
}
