/*
========================================================================================
    Test config for failure paths of DOWNLOAD_VIRAL_GENOMES.
    Mounts a stubbed `datasets` CLI into the container, replacing the real
    binary at /opt/conda/bin/datasets. The stub exists non-zero to simulate
    a true process error as well as the handled special case where no assemblies
    exist for a given taxon.
========================================================================================
*/

includeConfig "index.config"

process {
    withName: DOWNLOAD_VIRAL_GENOMES {
        // Replace the real `datasets` binary in the container with the stub,
        // based on the binary path in the `ncbi_datasets` image pinned in 
        // `configs/containers.config`. If a future image changes the binary path,
        // the real` datasets` binary will instead be used. However, this
        // regression would cause the `Should emit empty outputs when taxon has
        // no assemblies` test to fail with an error like `Error: The taxonomy ID
        // '99999999' does not match any existing taxids for 'genome`
        containerOptions = "-v ${projectDir}/tests/modules/local/downloadViralGenomes/stub_bin/datasets:/opt/conda/bin/datasets:ro"
    }
}
