/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    mode = "index"

    // Directories
    base_dir = "./" // Parent for working and output directories (can be S3)

    // Other contaminants (phage)
    genome_urls = [
        phage: "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_000866.4&rettype=fasta&seq_start=1&seq_stop=1000"
    ]

    // URLs for downloading reference genomes etc
    taxonomy_url = "https://nao-testing.s3.amazonaws.com/test-databases/tiny-taxonomy.zip"
    virus_host_db_url = "https://www.genome.jp/ftp/db/virushostdb/virushostdb.daily.tsv"
    human_url = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_000021.9&rettype=fasta&seq_start=10000000&seq_stop=10001000" // 1kb of human chr21
    ssu_url = "https://www.ebi.ac.uk/ena/browser/api/fasta/AB065370.1"
    lsu_url = "https://www.ebi.ac.uk/ena/browser/api/fasta/AB065370.1"

    // Other reference files
    host_taxon_db = "${projectDir}/ref/host-taxa.tsv"
    contaminants = "${projectDir}/ref/contaminants.fasta.gz"
    adapters = "${projectDir}/ref/adapters.fasta" // Path to adapter file for adapter trimming
    genome_patterns_exclude =  "${projectDir}/ref/hv_patterns_exclude.txt"

    // Kraken DB - https://benlangmead.github.io/aws-indexes/k2
    kraken_db = "https://nao-testing.s3.amazonaws.com/test-databases/tiny-kraken2-db.tar.gz" // Path to tarball containing tiny Kraken reference DB (5.8KB)
    blast_db_name = "https://nao-testing.s3.amazonaws.com/test-databases/tiny_blast_db.tar.gz" // Path to tarball containing tiny BLAST DB for testing

    ncbi_viral_params = "--section refseq --assembly-level complete --taxids 2847173" // Hepatitis D virus 1 (smallest human-infecting virus genome)

    // Other input values
    virus_taxid = "10239"
    viral_taxids_exclude_hard = "2731619 2732413 2732411" // Exclude Caudoviricetes, Malgrantaviricetes, Faserviricetes
    host_taxa_screen = "human" // Host taxa to screen for when building reference virus DB

    // Initializing run params to avoid warnings
    kraken_memory = ""
    classify_dedup_subset = ""
}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
