/*
========================================================================================
    Nextflow config file for the Wave configuration test
========================================================================================
*/

params {
    // Directories
    base_dir = "./" // Parent for working and output directories (can be S3)
}

includeConfig "../../configs/profiles.config"

// Override nf-test's profile that disables Wave.
wave.enabled = true
