/*
========================================================================================
    Nextflow config file for the Wave configuration test
========================================================================================
*/

includeConfig "../../configs/profiles.config"

// Override nf-test's profile that disables Wave.
wave.enabled = true
