// Specify containers for workflow processes
// For Seqera containers, see containers/ directory for build details,
// and rebuild with bin/build_wave_containers.py
process {
    withLabel: BBTools {
        // NB: As of 2024-07-01, newer versions currently cause errors
        container = "community.wave.seqera.io/library/bbmap_gzip_wget:4afd2d9e43ba1b29"
    }
    withLabel: biopython {
        container = "community.wave.seqera.io/library/biopython_pandas:d6ddc6863cc6a5d7"
    }
    withLabel: BLAST {
        container = "community.wave.seqera.io/library/coreutils_curl_unzip_awscli_blast:2943fe64ef9dfbbd"
    }
    withLabel: bowtie2_samtools {
        container = "community.wave.seqera.io/library/coreutils_curl_unzip_awscli_pruned:999b50a39b9a190e"
    }
    withLabel: bracken_plus_utils {
        container = "community.wave.seqera.io/library/bracken_file_gzip:0cd4d9f15089513c"
    }
    withLabel: coreutils {
        container = "community.wave.seqera.io/library/coreutils:9.5--ea2e10b8a8e92301"
    }
    withLabel: coreutils_file {
        container = "community.wave.seqera.io/library/coreutils_file:42e98bc9753da1ae"
    }
    withLabel: coreutils_gzip_gawk {
        container = "community.wave.seqera.io/library/coreutils_gzip_gawk:a72fbe1adad3249f"
    }
    withLabel: curl {
        container = "community.wave.seqera.io/library/curl:8.14.1--0c526fb3f5056896"
    }
    withLabel: cutadapt {
        container = "community.wave.seqera.io/library/cutadapt:5.0--991bbd2e184b7014"
    }
    withLabel: fastp {
        container = "community.wave.seqera.io/library/fastp:0.23.4--f8cefc1e5f7a782e"
    }
    withLabel: FASTQC {
        container = "community.wave.seqera.io/library/fastqc:0.12.1--af7a5314d5015c29"
    }
    withLabel: filtlong {
        container = "community.wave.seqera.io/library/filtlong:0.2.1--5cb367f8dffa9e28"
    }
    withLabel: Kraken2 {
        container = "community.wave.seqera.io/library/coreutils_curl_unzip_awscli_kraken2:4f599e904c02a85b"
    }
    withLabel: minimap2_samtools {
        container = "community.wave.seqera.io/library/coreutils_curl_unzip_awscli_pruned:2d1fdc92d52c0749"
    }
    withLabel: MultiQC {
        // NB: As of 2024-07-01, newer versions currently cause errors
        container = "community.wave.seqera.io/library/multiqc:1.21--a9b61d2a32e4c554"
    }
    withLabel: ncbi_genome_download {
          container = "community.wave.seqera.io/library/ncbi-genome-download:0.3.3--3034416f2eb9d25d"
    }
    withLabel: pandas {
        container = "community.wave.seqera.io/library/pandas:2.3.3--5a902bf824a79745"
    }
    withLabel: pysam_biopython {
        container = "community.wave.seqera.io/library/biopython_pandas_pysam:5cd27b9c4a6f0c0a"
    }
    withLabel: python {
        container = "community.wave.seqera.io/library/python:3.14.0--809c3e8c5ddd166f"
    }
    withLabel: rpkg {
        container = "community.wave.seqera.io/library/r-base_r-tidyverse_r-optparse_r-jsonlite:5af337f1e1cc9629"
    }
    withLabel: seqkit {
        container = "community.wave.seqera.io/library/seqkit:2.10.1--924c175d0c15a9be"
    }
    withLabel: seqtk {
        container = "community.wave.seqera.io/library/seqtk:1.5--8597a865941c2cbe"
    }
    withLabel: tar_wget {
        container = "community.wave.seqera.io/library/coreutils_tar_wget:05feff720fb458ca"
    }
    withLabel: tidyverse {
        container = "community.wave.seqera.io/library/r-base_r-tidyverse:dc2b058b2f75e222"
    }
    withLabel: unzip {
        container = "community.wave.seqera.io/library/unzip:6.0--692739d3f17122d1"
    }
    withLabel: vsearch {
        container = "community.wave.seqera.io/library/vsearch_gzip:764ec777179b4652"
    }
}
