// Specify Docker containers for workflow processes
// For Seqera containers, see containers/ directory for build details,
// and rebuild with bin/build_wave_containers.py
process {
    withLabel: BBTools {
        // NB: As of 2024-07-01, newer versions currently cause errors
        container = "community.wave.seqera.io/library/bbmap_gzip_wget:a72467a89321523f"
    }
    withLabel: biopython {
          container = "community.wave.seqera.io/library/biopython_pandas:200d10fd3619a239"
    }
    withLabel: Bracken {
        container = "community.wave.seqera.io/library/bracken:2.9--3d5af74ed6966fc1"
    }
    withLabel: bracken_plus_utils {
        container = "community.wave.seqera.io/library/bracken_file_gzip:2ad1968722ae663d"
    }
    withLabel: coreutils {
        container = "community.wave.seqera.io/library/coreutils:9.5--ea2e10b8a8e92301"
    }
    withLabel: coreutils_file {
        container = "community.wave.seqera.io/library/coreutils_file:42e98bc9753da1ae"
    }
    withLabel: coreutils_gzip_gawk {
        container = "community.wave.seqera.io/library/coreutils_gzip_gawk:947c12ccae1dc1d7"
    }
    withLabel: curl {
        container = "community.wave.seqera.io/library/curl:8.10.1--9df3b965b4bda7ac"
    }
    withLabel: cutadapt {
        container = "community.wave.seqera.io/library/cutadapt:5.0--991bbd2e184b7014"
    }
    withLabel: fastp {
        container = "community.wave.seqera.io/library/fastp:0.23.4--f8cefc1e5f7a782e"
    }
    withLabel: FASTQC {
        container = "community.wave.seqera.io/library/fastqc:0.12.1--af7a5314d5015c29"
    }
    withLabel: filtlong {
        container = "community.wave.seqera.io/library/filtlong:0.2.1--5cb367f8dffa9e28"
    }
    withLabel: Kraken2 {
        container = "community.wave.seqera.io/library/coreutils_curl_unzip_awscli_kraken2:8968735bd5361639"
    }
    withLabel: MultiQC {
        // NB: As of 2024-07-01, newer versions currently cause errors
        container = "community.wave.seqera.io/library/multiqc:1.21--a9b61d2a32e4c554"
    }
    withLabel: ncbi_genome_download {
          container = "community.wave.seqera.io/library/ncbi-genome-download:0.3.3--3034416f2eb9d25d"
    }
    withLabel: pandas {
        container = "community.wave.seqera.io/library/pandas:2.2.3--9b034ee33172d809"
    }
    withLabel: pysam_biopython {
        container = "community.wave.seqera.io/library/biopython_pandas_pysam:1869507cb09cf7d5"
    }
    withLabel: python {
        container = "community.wave.seqera.io/library/python:3.13.1--b96bc8a0f20cb0b3"
    }
    withLabel: rpkg {
        container = "community.wave.seqera.io/library/r-base_r-tidyverse_r-optparse_r-jsonlite:1f1d5a14e8d5987f"
    }
    withLabel: seqkit {
        container = "community.wave.seqera.io/library/seqkit:2.10.0--03b4774218b4b7ef"
    }
    withLabel: seqtk {
        container = "community.wave.seqera.io/library/seqtk:1.4--f2bbc7882319500b"
    }
    withLabel: tar_wget {
        container = "community.wave.seqera.io/library/coreutils_tar_wget:7c944a0774f605a8"
    }
    withLabel: tidyverse {
        container = "community.wave.seqera.io/library/r-base_r-tidyverse:9c59ea20d3eaf6df"
    }
    withLabel: unzip {
        container = "community.wave.seqera.io/library/unzip:6.0--692739d3f17122d1"
    }
    withLabel: vsearch {
        container = "community.wave.seqera.io/library/vsearch_gzip:837743cf6c0913f7"
    }
    withLabel: BLAST {
        container = "securebio/nao-blast-awscli:latest"
    }
    withLabel: bowtie2_samtools {
        container = "securebio/nao-bowtie2-samtools-awscli:latest"
    }
    withLabel: minimap2_samtools {
        container = "securebio/nao-minimap2-samtools-awscli:latest"
    }
}
