// Specify containers for workflow processes
// For Seqera containers, see containers/ directory for build details,
// and rebuild with bin/build_wave_containers.py

// Default rust tools version. This must be defined before use in the process block below,
// so be careful if you move it elsewhere in the stacked config files.
params {
    // Use RUST_TOOLS_VERSION env var if set, otherwise default to "main"
    // This allows CI to override the version without passing Nextflow args through nf-test
    rust_tools_version = System.getenv("RUST_TOOLS_VERSION") ?: "main"
}

process {
    withLabel: BBTools {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/bbtools:521cc8008c749c48"
    }
    withLabel: biopython {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/biopython:1f9b81f173ab7358"
    }
    withLabel: BLAST {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/blast:b7be9dc397b73870"
    }
    withLabel: bowtie2_samtools {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/bowtie2_samtools:7d17a28088d75942"
    }
    withLabel: bracken_plus_utils {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/bracken_plus_utils:2747e4b7dd0303e0"
    }
    withLabel: coreutils {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/coreutils:04a84cf0fe08b9ec"
    }
    withLabel: coreutils_file {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/coreutils_file:d073817f3408720d"
    }
    withLabel: coreutils_gzip_gawk {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/coreutils_gzip_gawk:78de0679798d6fb7"
    }
    withLabel: curl {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/curl:b44d0200efd601bb"
    }
    withLabel: fastp {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/fastp:f88318ccff4cec1c"
    }
    withLabel: FASTQC {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/fastqc:29dc7c62710fe45e"
    }
    withLabel: filtlong {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/filtlong:dc76f18453f98b9f"
    }
    withLabel: Kraken2 {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/kraken2:91c2a81da9fa1e75"
    }
    withLabel: minimap2_samtools {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/minimap2_samtools:8add6d2bdfe5a2de"
    }
    withLabel: MultiQC {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/multiqc:108fdac314ab447e"
    }
    withLabel: ncbi_datasets {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/ncbi_datasets:a92a8b499d0db919"
    }
    withLabel: pandas {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/pandas:91e85c3fd8e9026c"
    }
    withLabel: pysam_biopython {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/pysam_biopython:86088e3165fb77f2"
    }
    withLabel: python {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/python:e7c8524f75c0f132"
    }
    withLabel: rpkg {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/rpkg:1ae221a51dce3048"
    }
    withLabel: seqkit {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/seqkit:06d4aaa75376a720"
    }
    withLabel: seqtk {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/seqtk:f74b673f63e5721d"
    }
    withLabel: tar_wget {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/tar_wget:077e240847fc25c7"
    }
    withLabel: tidyverse {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/tidyverse:73aca2858ae32f35"
    }
    withLabel: unzip {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/unzip:e21b02e2bc67a84c"
    }
    withLabel: rust_tools {
        container = "public.ecr.aws/q0n1c7g8/nao-mgs-workflow/rust-tools:${params.rust_tools_version}"
    }
}
