/***********************************************************************
| CONFIGURATION FILE FOR NAO VIRAL MGS WORKFLOW - REFERENCES & INDEXES |
***********************************************************************/

params {
    mode = "index"

    // Directories
    base_dir = "s3://nao-testing/index-test-tiny" // Parent for working and output directories (can be S3)

    // URLs for downloading reference genomes etc
    taxonomy_url = "https://nao-testing.s3.amazonaws.com/test-databases/tiny-taxonomy.zip"
    virus_host_db_url = "https://www.genome.jp/ftp/db/virushostdb/virushostdb.daily.tsv"

    // 21st chromosome, 1000nt subset
    human_url = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_000021.9&rettype=fasta&seq_start=10000000&seq_stop=10001000"

    // Look up genome assembly ncbi
    genome_urls = [
        phage: "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_000866.4&rettype=fasta&seq_start=1&seq_stop=1000"
    ]

    // Ribosomal reference (B. subtilis only)
    ssu_url = "https://www.ebi.ac.uk/ena/browser/api/fasta/AB065370.1"
    lsu_url = "https://www.ebi.ac.uk/ena/browser/api/fasta/AB065370.1"

    // Other reference files
    host_taxon_db = "${projectDir}/ref/host-taxa.tsv"
    contaminants = "${projectDir}/test-data/toy-data/empty_file.txt"
    adapters = "${projectDir}/ref/adapters.fasta"
    genome_patterns_exclude =  "${projectDir}/ref/hv_patterns_exclude.txt"
    kraken_db = "https://nao-testing.s3.amazonaws.com/test-databases/tiny-kraken2-db.tar.gz" // Path to tarball containing tiny Kraken reference DB (5.8KB)
    blast_db_name = "https://nao-testing.s3.amazonaws.com/test-databases/blast_db.tar.gz" // Path to tarball containing tiny BLAST DB for testing
    ncbi_viral_params = "--section refseq --assembly-level complete --taxids 2847173"

    // Other input values
    virus_taxid = "10239"
    viral_taxids_exclude_hard = "2731619 2732413 2732411" // Exclude Caudoviricetes, Malgrantaviricetes, Faserviricetes
    host_taxa_screen = "vertebrate human" // Host taxa to screen for when building reference virus DB

    // Initializing run params to avoid warnings
    kraken_memory = ""
    classify_dedup_subset = ""
}

includeConfig "${projectDir}/configs/logging.config"
includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
process.queue = <JOB_QUEUE_NAME> // AWS Batch job queue
