name: Benchmark test (Illumina 100M)

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main
      - stable
      - ci-test

concurrency:
  group: benchmark-illumina-100M-pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  benchmark-illumina-100M:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    env:
      AWS_ACCESS_KEY_ID: ${{secrets.NAO_TESTING_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.NAO_TESTING_SECRET_ACCESS_KEY }}
      TOWER_ACCESS_TOKEN: ${{ secrets.TOWER_ACCESS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check for relevant changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            relevant:
              - 'tests/modules/**'
              - 'modules/**'
              - 'tests/subworkflows/**'
              - 'subworkflows/**'
              - 'tests/workflows/**'
              - 'workflows/**'
              - 'bin/chain_workflows.py'
              - 'configs/**'
              - 'tests/configs/**'

      - name: Setup nf-test environment
        if: steps.filter.outputs.relevant == 'true'
        uses: ./.github/actions/setup-nf-test
        with:
          aws_access_key_id: ${{ secrets.NAO_TESTING_ACCESS_KEY }}
          aws_secret_access_key: ${{ secrets.NAO_TESTING_SECRET_ACCESS_KEY }}

      - name: Install Python dependencies
        if: steps.filter.outputs.relevant == 'true'
        run: |
          pip install boto3

      - name: Run benchmark workflow
        if: steps.filter.outputs.relevant == 'true'
        run: |
          bin/chain_workflows.py \
            --ref-dir s3://nao-testing/mgs-workflow-test/index-latest/output/ \
            --samplesheet s3://nao-testing/benchmarks/Illumina_100M/samplesheet.csv \
            --launch-dir test_run_benchmark_100M \
            --base-dir s3://nao-testing-scratch/mgs-workflow-test/benchmark-illumina-100M/
