name: nf-test modules test

on:
  pull_request:
    branches:
      - main
      - dev
      - stable
      - ci-test
    paths:
      - 'tests/modules/**'
      - 'modules/**'

concurrency:
  group: ci-nf-test-modules-pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test-modules:
    runs-on:
      group: ubuntu-larger
      labels: ubuntu-16
    timeout-minutes: 15
    env:
      AWS_ACCESS_KEY_ID: ${{secrets.NAO_TESTING_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.NAO_TESTING_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup nf-test environment
        uses: ./.github/actions/setup-nf-test
        with:
          aws_access_key_id: ${{ secrets.NAO_TESTING_ACCESS_KEY }}
          aws_secret_access_key: ${{ secrets.NAO_TESTING_SECRET_ACCESS_KEY }}
      - name: Run module tests
        run: bin/run-nf-test.sh --num-workers 16 tests/modules --output-log test-logs-modules.txt
      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs-modules
          path: test-logs-modules.txt
          retention-days: 2
