name: Nextflow integration test (chain workflows)

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main
      - stable
      - ci-test

concurrency:
  group: ci-integration-test-pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  integration-test-chained:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    env:
      AWS_ACCESS_KEY_ID: ${{secrets.NAO_TESTING_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.NAO_TESTING_SECRET_ACCESS_KEY }}
      TOWER_ACCESS_TOKEN: ${{ secrets.TOWER_ACCESS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check for relevant changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            chained:
              - 'tests/modules/**'
              - 'modules/**'
              - 'tests/subworkflows/**'
              - 'subworkflows/**'
              - 'tests/workflows/**'
              - 'workflows/**'
              - 'bin/chain_workflows.py'
              - 'bin/verify_outputs.py'
              - 'configs/**'
              - 'tests/configs/**'
              - '.github/workflows/test-chained.yml'

      - name: Setup nf-test environment
        if: steps.filter.outputs.chained == 'true'
        uses: ./.github/actions/setup-nf-test
        with:
          aws_access_key_id: ${{ secrets.NAO_TESTING_ACCESS_KEY }}
          aws_secret_access_key: ${{ secrets.NAO_TESTING_SECRET_ACCESS_KEY }}

      - name: Install Python dependencies
        if: steps.filter.outputs.chained == 'true'
        run: |
          pip install boto3

      - name: Run chain workflows integration test
        if: steps.filter.outputs.chained == 'true'
        run: |
          bin/chain_workflows.py \
              --no-resume \
              --base-dir s3://nao-testing-scratch/mgs-workflow-test/chained-test/

      - name: Verify RUN workflow outputs
        if: steps.filter.outputs.chained == 'true'
        run: |
          python bin/verify_outputs.py \
            --output-dir s3://nao-testing-scratch/mgs-workflow-test/run/output \
            --expected-outputs-key run

      - name: Verify DOWNSTREAM workflow outputs
        if: steps.filter.outputs.chained == 'true'
        run: |
          python bin/verify_outputs.py \
            --output-dir s3://nao-testing-scratch/mgs-workflow-test/downstream/output \
            --expected-outputs-key downstream \
            --input-csv test_run/downstream/input.csv
